<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booking">
	<insert id="addOne" parameterType="java.util.HashMap"> 
		insert into book values(book_seq.nextval, #{name}, #{membercnt}, #{intro}, #{startdate}, #{enddate}, null, null)
	</insert>
	
	<update id="update" parameterType="java.util.HashMap"> 
		update book set payinfo = #{payinfo}, company = #{company}
	</update>

</mapper>