<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hosting">
	
	<select id="searchCnt" parameterType="java.util.HashMap" resultType="java.lang.Integer" >
		select count(*) from hosting where membercnt=#{cnt} or startdate between #{sdate} and #{edate} or enddate between #{sdate} and #{edate} or city=#{target} or location=#{target}
	</select>
	
	<select id="searchList" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
		select * from hosting where membercnt=#{cnt} or startdate between #{sdate} and #{edate} or enddate between #{sdate} and #{edate} or city=#{target} or location=#{target} order by num desc
	</select>

	<select id="getMainList" resultType="java.util.HashMap">
		select num, title, picURL, price, category, country, Htype from hosting order by num desc
	</select>

	<select id="getPrice" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select avg(price) as price, city from hosting where city=#{city} group by city
	</select>
	
	<insert id="register" parameterType="java.util.HashMap">
		insert into hosting values(HOSTING_SEQ.NEXTVAL, #{title}, #{htype}, #{rtype}, #{roomcnt}, #{membercnt}, #{bedcnt}, #{bathcnt}, #{country}, #{city}, #{location}, #{amenity}, #{rule}, #{condition}, to_date(#{startdate}), to_date(#{enddate}),#{price}, #{category}, #{hname}, #{intro}, #{picurl},NULL)
	</insert>
	
	<select id="getAllList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from hosting where num=#{num}
	</select>
	
	<select id="getAll" resultType="java.util.HashMap">
		select * from hosting 
	</select>
	
<!-- 	<select id="pagingSelect" resultType="java.util.HashMap" parameterType="java.util.HashMap"> -->
<!--          select step2.* from (select rownum as r, step1.* from (select * from hosting order by num desc) step1) step2 where <![CDATA[r>= #{start} and r <= #{end}]]>   -->
<!--    </select>  -->
	
	<select id="allCnt" resultType="java.lang.Integer" >
		select count(*) from hosting 
	</select>
		
	<select id="getDetailList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from hosting where num = #{num}
	</select>
	
	<select id="getHoster" parameterType="java.lang.String" resultType="java.lang.String">
		select Hname from hosting where num =#{num}
	</select>
</mapper>
