<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info">
	<select id="info" resultType="java.util.HashMap" parameterType="java.lang.String"> 
		select * from member where id=#{id} 
	</select>
	<update id="updateInfo" parameterType="java.util.HashMap"> 
		update member set id=#{id}, name=#{name}, pass=#{pass}, gender=#{gender}, birth=#{birth}, mail=#{mail}, country=#{country} where id=#{id} 
	</update>
	<insert id="createOne" parameterType="java.util.HashMap">
		insert into sharing values(sharing_seq.nextval, )
	</insert>
	<select id="getnum" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from member where num =#{num}
	</select>
	<select id="getPass" resultType="java.util.HashMap" parameterType="java.lang.String">
		select pass from member where id =#{id}
	<select id="readAll" resultType="java.util.HashMap"> 
		select * from member
	</select>
</mapper>