<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info">
	<select id="info" resultType="java.util.HashMap" parameterType="java.lang.String"> 
		select * from member where id=#{id} 
	</select>
	<update id="updateInfo" parameterType="java.util.HashMap"> 
		update member set id=#{id}, pass=#{pass}, name=#{name}, age=#{age}, gender=#{gender}, email=#{email} where id=#{id} 
	</update>
	<update id="updatePic" parameterType="java.util.HashMap">
		update member set picurl=#{PICURL} where id=#{id}
	</update>
</mapper>