<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<select id="staravg" resultType="java.lang.Double" parameterType="java.util.HashMap"> 
		select avg(grade) from review where hostingnum=#{num} 
	</select>
	<select id="getReview" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from review where hostingnum=#{num} 
	</select>
	<select id="getReviewcnt" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select count(*) as cnt from review where hostingnum=#{num} 
	</select>

</mapper>