<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<select id="staravg" resultType="java.lang.Double" parameterType="java.util.HashMap"> 
		select avg(grade) from review where hostingnum=#{num} 
	</select>
	<select id="getReview" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from review where hostingnum=#{num} 
	</select>
	<select id="getReviewcnt" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select count(*) as cnt from review where hostingnum=#{num} 
	</select>
	<insert id="addReview" parameterType="java.util.HashMap">
		insert into review values (review_seq.nextval, #{msg}, #{writer}, #{grade}, #{hostingnum})
	</insert>
	<select id="queryReview" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select r.WRITER, r.CONTENT, r.GRADE ,r.HOSTINGNUM, t.FILELINK from REVIEW r, SHARING t where r.writer=t.id and t.type='info' and r.HOSTINGNUM =#{num}
	</select>

</mapper>