<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharing">
	<insert id="createOne" parameterType="java.util.HashMap" > 
		insert into sharing values(sharing_seq.nextval, #{type}, #{filename}, #{filesize}, #{fileaddress}, #{filelink}, #{id},#{hostingnum}) 
	</insert>
	<select id="getuphoto" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from sharing where id=#{id} and type='info' order by num desc 
	</select>
	<select id="gethphoto" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select filelink from sharing where id=#{id} and type= 'hosting' order by num desc 
	</select>
	<update id="update" parameterType="java.util.HashMap" >
		update sharing set filename=#{filename}, filesize=#{filesize}, fileaddress=#{fileaddress}, filelink=#{filelink}, hostingnum=null where type=#{type} and id=#{id}
	</update>
	<delete id="delete" parameterType="java.util.HashMap">
		delete from sharing where id=#{id} and type=#{type}
	</delete>
</mapper>